<div>
    <section class="sobre-mi">
      <div>
        <img src="../../../assets/images/WhatsApp Image 2022-11-11 at 13.08.59.jpeg" alt="" id="foto">
      </div>
        <article id="sobre-mi">
          <h2>Matias Rolon</h2>
          <p>Full Stack Developer Jr</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam debitis voluptatibus ab accusamus quasi! Quo, id. Velit consequatur, quod repellat soluta quibusdam deserunt inventore? Quidem repellendus recusandae error numquam totam.</p>
        </article>
    </section>
  </div>
  